body {
  background-color: #f2ebe3;
  overflow: auto;
}
/*
@media (max-width: 1440px) {
  .container {
    top: 10%;
    left: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    border-radius: 40px;
    
  }

  .element {
    display: block;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 20px 20px 0px;
  }
  .element-img-small {
    display: none;
  }

  .element-img-large {
    display: block;
    border-radius: 20px 0px 0px 20px;
  }

  #sub-title {
    font-family: "Bungee Hairline", cursive;
    font-weight: 700;
    font-size: 25px;
    color: hsl(228, 12%, 48%);
    margin-left: 10%;
    margin-top: 10%;
  }

  .element h1 {
    font-family: "Fraunces", serif;
    color: hsl(212, 21%, 14%);
    font-size: 70px;
    line-height: 65px;
    margin: 0% 10% 10% 10%;
  }

  #price-tag,
  #crossed-out-price {
    display: inline;
  }
  #price-tag {
    color: hsl(158, 36%, 37%);
  }

  #crossed-out-price {
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 20px;
  }

  .add-btn {
    width: 400px;
    height: 80px;
    border-radius: 15px;
    border: none;
    background-color: hsl(159, 46%, 16%);
    color: azure;
    font-family: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
    font-size: 25px;
    font-weight: 700;
    margin-top: 10%;
    margin-left: 17%;
  }

  #main-text {
    text-align: justify;
    margin: 10%;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 40px;
    width: 500;
  }
}*/

@media (max-width: 375px) {
    .container {
        display: grid;
        grid-gap: 0;
    }
    .element-img-small {
        display: block;
        border-radius: 20px 20px 0 0;
      }
    
    .element-img-large {
       display: none;
    }
    .element {
        background-color: hsl(0, 0%, 100%);
        border-radius: 0 0 20px 20px;
        width: 686px;
        height: 780px;
    }

    #sub-title {
        font-family: "Bungee Hairline", cursive;
        font-weight: 700;
        font-size: 25px;
        color: hsl(228, 12%, 48%);
        margin-left: 5%;
        margin-top: 3%;
    }

    .element h1 {
        font-family: "Fraunces", serif;
        color: hsl(212, 21%, 14%);
        font-size: 55px;
        line-height: 65px;
        margin: 0% 10% 10% 10%;
    }

    #price-tag,
  #crossed-out-price {
    display: inline;
  }
  #price-tag {
    color: hsl(158, 36%, 37%);
  }

  #crossed-out-price {
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 20px;
  }

  .add-btn {
    width: 400px;
    height: 80px;
    border-radius: 15px;
    border: none;
    background-color: hsl(159, 46%, 16%);
    color: azure;
    font-family: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
    font-size: 25px;
    font-weight: 700;
    margin-top: 10%;
    margin-left: 17%;
  }

  #main-text {
    text-align: justify;
    margin: 10%;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 40px;
    width: 500;
  }
}