body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: hsl(0, 0%, 8%);
}

.container {
    width: 300px;
    height: 500px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    margin: 0 auto;          
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    border-radius: 100px;
}

.info p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    color: hsl(0, 0%, 100%);
}

#place-title {
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

#job-title {
    padding-top: 10px;
    font-weight: 500;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 250px;  
}

.links a {
    text-decoration: none;
}

.links button {
    background-color: hsl(0, 0%, 20%);
    border: 0;
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    width: 100%;           
    padding: 10px 15px;     
    border-radius: 10px;    
    font-size: 14px;
    margin-top: 10px;       
    min-width: 150px;       
}

@media (max-width: 1440px) {
    .container {
        width: 350px;
        height: 500px;
        margin-top: 15%;
    }
    .avatar {
        width: 50%;
        height: auto;
    }
    .links button {
        width: 290px;        
        height: 40px;
        font-size: 14px;
    }
    .info p {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 200px;
        height: 400px;
        margin-top: 15%;
        margin-left: 20%;  
    }
    .avatar {
        width: 50%;
        height: auto;
    }
    .links {
        max-width: 200px; 
    }
    .links button {
        width: 240px;     
        height: 30px;
        font-size: 10px;
        margin-top: 10px;
    }
    .info p {
        font-size: 12px;
    }
}
