.cart-box{
    width: 400px;
    height: inherit;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
}
.cart-box h1 {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 850;
    font-style: normal;
    color: hsl(14, 86%, 42%);
    margin: 10px;
    padding: 20px;
}

.delivery-info{
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 300px;
    height: 50px;
    background-color: hsl(13, 31%, 94%);
    border: none;
    border-radius: 10px;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    padding-top: 3px;
    padding-left: 60px;
}

.confirm-button{
    display: block;
    margin: 20px auto;
    width: 250px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: hsl(14, 86%, 42%);
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    color: white;
    text-align: center;
    cursor: pointer;
}

.total-order-text{
    margin: 30px;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    color: hsl(14, 65%, 9%);
}

.chosen-element{
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    padding-top: 3px;
}

.cart-added-items {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
}
.added-to-cart-dish {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid hsl(14, 25%, 72%);
}

.cart-added-items h4 {
    color: hsl(14, 65%, 9%);
}

.added-to-cart-dish p {
    margin-top: -10px;
    color: hsl(12, 20%, 44%);
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-size: smaller;
    flex: 1;
}

.total-order-sum{
    margin-left: 180px;
    font-weight: 800;
    font-size: larger;
}

.quantity {
    color: hsl(14, 86%, 42%); 
    font-weight: 600; 
    margin-right: 15px;
}

.dish-elements-function {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 5px;
}

.remove-button {
    cursor: pointer;
    padding: 2px;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 1px solid hsl(14, 25%, 72%);
    background-color: transparent;
}

.remove-button:hover {
    background-color: hsl(14, 86%, 32%);
}